.pink-paper {
    height: 110vh;
    width: 100vw;
    background-color: #ffff;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 700px) {
        height: 100vh;
    }

    .pink-paper-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 20vh auto;
        z-index: 0;

        @media only screen and (max-width: 700px) {
            margin-top: 25vh;
        }

        .pink-paper-title-container {

            position: relative;
            z-index: 5;

            .pink-paper-title {
                text-align: center;
                position: relative;
                z-index: 5;
                font-size: 50px;
                font-family: 'hitAndRun', sans-serif;
                letter-spacing: 3px;
                color: #f50ca0;
                opacity: 0;

                @media only screen and (max-width: 700px) {
                    font-size: 40px;
                }
            }
        }
        
        .pink-paper-blurb {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin: auto;
            opacity: 0;

            .pink-paper-link {
                margin: 5vh 4vw;
                transform: scale(1);
                transition: .5s;

            
                &:hover {
                    transform: scale(1.2);
                    transition: .5s;
                }
            }
            
            .pink-paper-blurb-image {
                width: 250px;

                @media only screen and (max-width: 700px) {
                    width: 120px;
                }
            }
            
            .pink-paper-blurb-text {
                width: 500px;
                font-size: 30px;
                font-weight: 200;
                padding-top: 20px;
                font-family: 'Montserrat', sans-serif;

                @media only screen and (max-width: 700px) and (min-width: 400px) {
                    width: 250px;
                    font-size: 20px;
                }

                @media only screen and (max-width: 400px) {
                    font-size: 16px;
                }
            }
        }
    }

    .animate-pink-paper {
        animation: animate-pink-paper-content 1s ease-out forwards
    }

    @keyframes animate-pink-paper-content {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}



