.about-page {
    height: auto;
    width: 100vw;
    margin-top: -5px;
    background-color: #ffff;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 900px) {
        height: 100%;
    }
}

.about-content {
    height: auto;
    width: 900px;
    margin: 25vh auto;
    display: flex;
    flex-direction: column;
    opacity: 0;

    @media only screen and (max-width: 900px) {
        width: 100%;
        text-align: center;
        margin: 18vh auto 22vh;
        height: auto;
    }
}

.animate-about-content {
    animation: animate-about-content 1s ease-out forwards;

    @keyframes animate-about-content {
        from {
            opacity: 0;
        }
      
        to {
            opacity: 1;
        }
    }
}

.graphic-circle {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-color: #ff5cac;
    border-radius: 100%;
    border-width: 10px;
    position: relative;
    
    @media only screen and (max-width: 900px) {
        margin: auto;
        height: 200px;
        width: 200px;
    }

    .flamingo-logo {
        height: 250px;
        width: 250px;
        margin: auto;

        @media only screen and (max-width: 900px) {
            height: 200px;
            width: 200px;
        }
    };

    .decentralized-icon {
        height: 200px;
        width: 200px;
        margin: auto;

        @media only screen and (max-width: 900px) {
            height: 150px;
            width: 150px;
        }
    };

    .algorand-logo {
        height: 250px;
        width: 250px;
        margin: auto;
        transform:scale(1.7);

        @media only screen and (max-width: 900px) {
            height: 200px;
            width: 200px;
        }
    };

}

.about-title {
    font-size: 75px;
    text-align: center;
    font-family: 'hitAndRun', sans-serif;
    letter-spacing: 3px;
    color: #f50ca0;


    @media only screen and (max-width: 900px) {
        font-size: 60px;
    }
}

.about-blurb-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px auto;

    @media only screen and (max-width: 900px) {
        flex-direction: column;

    }
}

.about-blurb {
    width: 45%;
    padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 200;

    @media only screen and (max-width: 700px) {
        width: 90%;
        margin: auto auto 5vh;
    }

    @media only screen and (max-width:900px) and (min-width: 700px) {
        width: 70%;
        margin: auto auto 5vh;
    }
}



.about-circle-connector {
    background-color: #ff5cac;
    height: 305px;
    width: 35px;
    position: absolute;
    top: 125px;
    left: 345px;
    transform:rotate(-57deg);

    @media only screen and (max-width: 900px) {
        height: 0;
        width: 0;
    }
}

.about-circle-connector-2 {
    background-color: #ff5cac;
    height: 305px;
    width: 35px;
    position: absolute;
    top: 125px;
    right: 345px;
    transform:rotate(57deg);

    @media only screen and (max-width: 900px) {
        height: 0;
        width: 0;
    }
}