.homepage-left-bumper {
    background-color: #ff5cac;
    height: 100vh;
    width: 24%;
    position: absolute;
    left: -100px;
    // transform: skewX(13deg);
    border-right-color: #f50ca0;
    border-right-style: solid;
    border-right-width: 10px;
    animation: slide-line 1s ease-out 3s forwards;
    opacity: 0;
}

@keyframes slide-line {
    from {
        opacity: 0;
    }
  
    to {
        transform: skewX(13deg);
        opacity: 1;
    }
}

.homepage-top-left-line {
    background-color: #ff5cac;
    height: 400px;
    width: 13vw;
    position: absolute;
    top: 0;
    right: 0;
    border-left-color: #f50ca0;
    border-left-style: solid;
    border-left-width: 15px;
    opacity: 0;
    animation: grow-in 1s ease-out 3s forwards;
}

@keyframes grow-in {
    from {
        transform: 0;
        opacity: 0;
    }
  
    to {
        transform: skewX(66deg);
        opacity: 1;
    }
}

.homepage-top-right-line {
    background-color: #5ce1e6;
    height: 50vh;
    width: 7vw;
    position: absolute;
    right: 10vw;
    border-right-color: #00c2cb;
    border-right-style: solid;
    border-right-width: 10px;
    opacity: 0;
    animation: grow-in-right-top 1s ease-out 3s forwards;
}

@keyframes grow-in-right-top {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
      transform: skewX(-40deg);
    }
}

.homepage-bottom-left-line {
    background-color: #5ce1e6;
    height: 50vh;
    width: 7vw;
    position: absolute;
    display: block;
    bottom: 0;
    right: 10vw;
    // transform: skewX(40deg);
    border-right-color: #00c2cb;
    border-right-style: solid;
    border-right-width: 10px;
    animation: grow-in-left-bottom 1s ease-out 3s forwards;
    opacity: 0;
}

@keyframes grow-in-left-bottom {
    from {
        opacity: 0;
    }
  
    to {
        transform: skewX(40deg);
        opacity: 1
    }
}

.homepage-bottom-right-line {
    background-color: #ff5cac;
    height: 50vh;
    width: 7vw;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    border-left-color: #f50ca0;
    border-left-style: solid;
    border-left-width: 10px;
    animation: grow-in-right 1s ease-out 3s forwards;
    opacity: 0;
}

@keyframes grow-in-right {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
      transform: skewX(-40deg);
    }
}