.socials-page {
    height: 100vh;
    width: 100vw;
    background-color: #ffff;
    position: relative;
    overflow: hidden;
    contain: content;

    .socials-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20vh auto auto;
        width: 70vw;
        opacity: 0;

        @media only screen and (max-width: 900px) {
            margin: 5vh auto auto;
            width: 95vw;
        }

        .social-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: auto;
            width: 100%;

            @media only screen and (max-width: 900px) {
                flex-wrap: wrap;
            }



            .link {
                padding: 5vh;
                transform: scale(1);
                transition: .5s;

                @media only screen and (max-width: 900px) {
                    padding: 2vh
                }

                &:hover {
                    transform: scale(1.2);
                    transition: .5s;
                }

            img {
                width: 20vh;
                height: 20vh;
                z-index: 4;
                position: relative;

                @media only screen and (max-width: 700px) {
                    width: 15vh;
                    height: 15vh;
                }

                @media only screen and (max-width: 900px) and (min-width: 700px) {
                    width: 15vh;
                    height: 15vh;
                }
            }
            }
        }

        .social-text {
            font-size: 5vh;
            font-family: 'hitAndRun', sans-serif;
            letter-spacing: 3px;
            color: #f50ca0;

            @media only screen and (max-width: 700px) {
                font-size: 4vh;
            }
            
            h2 {
                z-index: 2;
                position: relative;
            }
        }

        
    }
}

.animate-socials-content {
    animation: animate-socials-content 1s ease-out forwards;

    @keyframes animate-socials-content {
        from {
            opacity: 0;
        }
      
        to {
            opacity: 1;
        }
    }
}

