// @font-face {
//     font-family: hitAndRun;
//     src: url('../../Hit and Run.otf');
//   }

.homepage {
    height: 100vh;
    width: 100vw;
    background-color: #ffff;
    position:relative;
    overflow: hidden;
    contain:strict;

    .title-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 10vh auto auto;
        width: 70vw;
        
        @media only screen and (max-width: 700px) {
            width: 100vw;
            margin: 12vh auto auto;
        }

        @media only screen and (max-width: 950px) and (min-width: 700px) {
            margin: 6vh auto auto
        }
    }
    
    .logo-container {
        
        width: 45vh;
        margin: auto;
        height: 45vh;
        background-color: white;
        border-color: #f50ca0;
        border-radius: 100%;
        border-style: solid;
        border-width: 10px;
        z-index: 3;
        opacity: 0;
        animation: fade-in 1s 1s ease-out forwards;

        @media only screen and (max-width: 700px) {
            width: 35vh;
            height: 35vh;
        }

        .logo {
            position: relative;
            z-index: 4;
            width: 45vh;
            height: 45vh;
            opacity: 0;
            animation: fade-in 1s 1s ease-out forwards;

            @media only screen and (max-width: 700px) {
                width: 35vh;
                height: 35vh;
            }
        }
    }

      @keyframes fade-in {
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }      

    .title {

        display: flex;
        flex-direction: column;
        

        .main-title {
            font-size: 11vh;
            z-index: 3;
            font-family: 'hitAndRun', sans-serif;
            letter-spacing: 3px;
            color: #f50ca0;
            opacity: 0;
            animation: fade-in 1s 1s ease-out forwards;
            margin-bottom: 10px;

            @media only screen and (max-width: 700px) {
                font-size: 7vh;
            }

            @media only screen and (max-width: 950px) and (min-width: 700px) {
                margin: 6vh auto auto;
                font-size: 9vh;
            }
        };

        @keyframes fade-in {
            from {
              opacity: 0
            }
          
            to {
              opacity: 1;
            }
        }

        .asa-id {
            color: #f50ca0;
            font-size: 3vh;
            font-family: 'hitAndRun', sans-serif;
            letter-spacing: 3px;
            margin-top: 5px;
            opacity: 0;
            animation: fade-in 1s 2s ease-out forwards;
        }

        .subtitle-algorand-logo {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: nowrap;
            opacity: 0;
            animation: fade-in 1s 2s ease-out forwards;


            .sub-title {
                font-size: 6vh;
                z-index: 3;
                font-family: 'Montserrat', sans-serif;
                font-weight: 100;
                margin-top: 0;
                display: inline-block;

                @media only screen and (max-width: 950px) {
                    font-size: 3vh;
                    margin-top: 0;
                }

            }

            .algorand-logo {
                display: inline-block;
                height: 10vh;
                margin-top: 0;
                z-index: 3;

                @media only screen and (max-width: 950px) {
                    height: 8vh;
                    margin-top: 0;
                }
            }
        }
    

        }
}

